<div class="min-vh-100 p-xl-5 p-lg-5 p-md-5 d-flex align-items-center justify-content-center welcome-sc">
  <div class="col-xl-10 col-lg-10 col-md-10 card text-center welcome-sc-box">
    <div class="card-body">
      <div class="card-header">
        <h1 class="card-title mt-3">VIEW ELECTIONS</h1>
      </div>
      <div class="mt-5 tile-h overflow-auto">
        <div class="row gap-4 p-md-3 d-flex align-items-center justify-content-center">
          <div (click)="electionDetails(electionData._id)" *ngFor="let electionData of electionData" class="col-xl-2 col-lg-2 col-md-3 p-2 election-box">
            <div class="">
              <img [src]="electionData.image_name"  class="img-box">
            </div>
            <div class="title mt-3 d-flex align-items-center justify-content-center">
              <h6 class="mt-2 col-lg-11">{{electionData.election_name}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
