<div class="min-vh-100 p-xl-5 p-lg-5 p-md-5 welcome-sc d-flex align-items-center justify-content-center welcome-sc">
  <div class="col-xl-10 col-lg-12 col-md-12 card welcome-sc-box">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 box-left">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 box-right p-5">
        <div class="row mt-5 mb-5">
          <div class="col-md-12 d-flex align-items-center justify-content-center pr-1">
            <h2>ADMIN PANEL LOGIN</h2>
          </div>
        </div>
        <form #data="ngForm">
          <div class="row mb-3">
            <div class="col-md-12 mb-3 pr-1">
              <div class="form-group">
                <label>User name</label>
                <input #username="ngModel" required ngModel type="text" name="username" class="input-field form-control"
                       [(ngModel)]="adminLoginModel.email"  placeholder="Enter your username or email">
                <small *ngIf="username?.errors && username?.touched"  class="text-danger">
                  username is required
                </small>
              </div>
            </div>
            <div class="col-md-12 pl-1">
              <div class="form-group">
                <label>Password</label>
                <input #password="ngModel" required ngModel type="password" name="password" class=" input-field form-control"
                       [(ngModel)]="adminLoginModel.password" placeholder="Enter your password">
                <small *ngIf="password?.errors && password?.touched"  class="text-danger">
                  password is required
                </small>
              </div>
            </div>
            <div class="row ">
              <div class="col-xl-4 col-lg-4 col-md-12 mt-3">
                <span class="fp-text">Forgot Password</span>
              </div>
            </div>
          </div>
          <div class="row mt-5 mb-2">
            <div class="col-md-12 d-flex align-items-center justify-content-center pr-1">
              <button (click)="login()" type="submit" class="login-btn fs-4 col-md-12">LOGIN</button>
            </div>
          </div>
          <small class="text-danger fs-6 mt-3">{{errMsg}}</small>
        </form>
      </div>
    </div>
  </div>
</div>

<!--<router-outlet></router-outlet>-->

