<app-side-bar></app-side-bar>

<div class="content">
  <div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
      <div class=" mb-lg-0">
        <h1 class="h4">Create New Election</h1>
      </div>
    </div>
  </div>

  <div class="p-xl-3 mt-3 p-lg-1 p-md-3 d-flex  justify-content-center">
    <div class="col-xl-10 col-lg-10 col-md-11 card card-nav-tabs text-center welcome-sc-box">
      <div class="card-body">
        <div class="card-header">
          <h4 class="card-title mt-1">Finish</h4>
        </div>
        <div class="mt-1  p-3 d-flex align-items-center justify-content-center">
          <div class="card-body col-xl-8 bg-gray-500 done">
            <div class="mt-5">
              <h1 class="text-white">Your Election is</h1>
              <span class="text-white text-size">Alomost Done</span>
              <div class="mt-4 row col-xl-12 col-lg-12 col-md-12 d-flex align-items-center justify-content-center">
                <button (click)="dashboad()" class="col-xl-3 col-lg-4 col-md-4 btn btn-outline-primary">Done</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
