<div class="min-vh-100 p-xl-5 p-lg-5 p-md-5 d-flex align-items-center justify-content-center welcome-sc">
  <div class="col-xl-10 col-lg-10 col-md-10 card card-nav-tabs text-center welcome-sc-box">
    <div class="card-body">
      <div class="card-header">
        <h1 data-text="WELCOME" class="card-title h-text mt-5">WELCOME</h1>
        <h4 class="text-black-50 card-text mb-3">Please select your action</h4>
      </div>
      <div class="mt-5 h-75">
        <div>
          <a  (click)="userLogin()" class="btn btn-primary welcome-sc-btn mt-5 mb-4 fs-3">VOTE</a>
        </div>
        <div>
          <a (click)="userReg()" class="btn btn-primary welcome-sc-btn mb-4 fs-3">New User Register</a>
        </div>
        <div>
          <a (click)="fogrotPass()" class="btn btn-primary welcome-sc-btn mb-4 fs-3">Forgot Password</a>
        </div>
      </div>
    </div>
  </div>
</div>
