<router-outlet></router-outlet>

<!--<app-welcome-sc></app-welcome-sc>-->
<!--<app-register-sc></app-register-sc>-->
<!--<app-fingerprint-scan-sc></app-fingerprint-scan-sc>-->
<!--<app-login-sc></app-login-sc>-->
<!--<app-election-sc></app-election-sc>-->
<!--<app-parties-sc></app-parties-sc>-->
<!--<app-candidates-sc></app-candidates-sc>-->
<!--<app-vote-sc></app-vote-sc>-->
<!--<app-admin-login-sc></app-admin-login-sc>-->
<!--<app-admin-register-sc></app-admin-register-sc>-->
<!--<app-admin-dashboad-sc></app-admin-dashboad-sc>-->

