<div class="col-xl-12">
  <div class="header d-flex align-items-center justify-content-center">
    <h1 class="text-white">VOTING</h1>
  </div>
  <div class="date d-flex align-items-center justify-content-center px-4">
    <h4>Time -{{currentTime}}</h4>
  </div>
  <div class="min-vh-100 p-xl-5 p-lg-5 p-md-5 d-flex align-items-center justify-content-center welcome-sc">
    <div class="col-xl-9 col-lg-12 col-md-10 card card-nav-tabs text-center welcome-sc-box">
      <div class="card-body">
        <div class="card-header ch">
          <h1 class="card-title mt-3">{{candidateModel.candidate_name}}</h1>
          <h4 class="text-black-50 card-text mb-3">Vote your cadidate</h4>
        </div>
        <div class="mt-3 h-75">
          <div class="row p-1 mb-2">
            <div class="col-xl-5 col-lg-5 col-md-6 box-left p-3">
              <div class="img-box d-flex justify-content-center">
                <img src="{{candidateModel.candidate_image}}" class="img">
              </div>
              <div class="title mt-3 p-1">
                <h5>{{candidateModel.candidate_name}}</h5>
              </div>
              <div class="row mt-5">
                <div class="col-md-12 d-flex align-items-center justify-content-center pr-1">
                  <button type="submit" class="vote-btn fs-4 col-md-12" data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop">VOTE
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 box-right">
              <div class="details-box d-flex align-items-start mt-3 mb-2 p-2">
                <h5 class="mx-3">Name -{{candidateModel.candidate_name}}</h5>
              </div>
              <div class="details-box d-flex align-items-start mb-2 p-2">
                <h5 class="mx-3">Number - {{candidateModel.candidate_number}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="row d-flex align-items-center">
        <h2 class="text-center text-success mt-3">Are you sure vote?</h2>
      </div>
      <div class="modal-body success-msg">
        <div class="row col-md-12 d-flex align-items-center justify-content-center">
          <button type="submit" data-bs-dismiss="modal"
                  (click)="fingerPrint()" class="col-md-5 next-btn btn btn-success btn-round">YES
          </button>
        </div>
        <div class="row col-md-12 mt-3 d-flex align-items-center justify-content-center">
          <button type="submit" data-bs-dismiss="modal"
                  class="col-md-5 next-btn btn btn-danger btn-round">NO
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
