.update-btn {
  height: 50px;
  background-color:#f4bc6d;
  color: black;
}

.update-btn:hover {
  background-color: #e6ab59;
  color: black;
}

.file-import{
  height: 50px;
  background-color: #502a9f;
  color: white;
}
.file-import:hover {
  background-color: #6f43c9;
  color: white;
}

.election-banner{
  height: 320px;
  border-radius: 10px;
}

.election-bannerModel{
  height: 220px;
  border-radius: 10px;
}

.card-color{
  background-color: rgb(25, 30, 49);
  border-radius: 10px;
}

.edit-btn {
  height: 45px;
  background-color:#f4bc6d;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.edit-btn:hover {
  background-color: #e6ab59;
  color: black;
}

.t-header {
  color: white;
  background: linear-gradient(90deg, rgba(31, 24, 58, 1), rgba(52, 36, 60, 1), rgba(65, 39, 95, 1));
}

.select-btn{
  color: rgb(25, 30, 49);
  border-color: #DF4646;
}

.select-btn:hover{
  color: white;
  background-color: rgb(25, 30, 49);
}
.party-banner{
  height: 170px;
  border-radius: 5px;
  background-color: white;
}
.party-icon{
  height: 150px;
  width: 150px;
  border-radius: 80px;
  background-color: white;
}

.candidate-number{
  font-size: 100px;
  color: lawngreen;
}

.color-picker{
  height: 50px;
  background-color: white;
  color: #502a9f;
  border-color: #502a9f;
}

.color-picker:hover{
  background-color: #502a9f;
  color: white;
}

.candi-img{
  background-color: rgba(80, 42, 159, 0.14);
  height: 140px;
  width: 160px;
  border-radius: 10px;
}
.election-type{
  background-color: #231949;

}
