<div class="min-vh-100 p-xl-5 p-lg-5 p-md-5 d-flex align-items-center justify-content-center welcome-sc">

  <div [hidden]="showContent" class="col-xl-10 col-lg-10 col-md-10 card card-nav-tabs text-center welcome-sc-box">
    <div class="card-body">
      <div class="card-header">
        <h1 data-text="WELCOME" class="card-title h-text mt-5">WELCOME</h1>
        <h4 class="text-black-50 card-text mb-3">Please select your action</h4>
      </div>
      <div class="mt-5 h-75">
        <div>
          <a  (click)="elections()" class="btn btn-primary welcome-sc-btn mt-5 mb-4 fs-3">ELECTION DETAILS</a>
        </div>
        <div>
          <a (click)="userReg()" class="btn btn-primary welcome-sc-btn mb-4 fs-3">NEW USER REGISTER</a>
        </div>
        <div>
          <a (click)="fogrotPass()" class="btn btn-primary welcome-sc-btn mb-4 fs-3">FOGROT PASSWORD</a>
        </div>
      </div>
    </div>
  </div>

  <div [hidden]="!showContent" class="col-xl-10 col-lg-10 col-md-10 card card-nav-tabs text-center welcome-sc-box">
    <div class="card-body">
      <div class="card-header">
        <h1 data-text="WELCOME" class="card-title h-text mt-5">WELCOME</h1>
        <h4 class="text-black-50 card-text mb-3">Please select your action</h4>
      </div>
      <div class="mt-5 h-75">
        <div>
          <a (click)="login()" class="btn btn-primary welcome-sc-btn mt-5 mb-4 fs-3">VOTE</a>
        </div>
        <div *ngFor="let electionData of electionData">
          <a (click)="electionResult(electionData._id)" class="btn btn-primary welcome-sc-btn mb-4 fs-3">ELECTION RESULTS</a>
        </div>
      </div>
    </div>
  </div>

</div>


